body {
    padding: 0px;
    margin: 0px;
}

.terminal {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #1f1f1f;
    background-image: url("img/bg.png");
    box-shadow: inset 0px 0px 80px 20px #0f0f0f;
    overflow-x: hidden
}

.wrap {
    position: absolute;
    padding: 5%;
    min-height: 85%;
    width: auto;
    bottom: 0px;
}

.line {
    font: normal 22px "Lucida Console", Monaco, monospace;
    height: auto;
    color: #009300;
    text-shadow: 0px 0px 3px #007700;
    word-wrap: break-word;
    padding-bottom: 0.15%;
}

.lineMain {
    font: normal 22px "Lucida Console", Monaco, monospace;
    color: #00df00;
    text-shadow: 0px 0px 6px #007700;
    text-overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}